
.error-container {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error-container a {
    text-decoration: underline !important;
    color: rgb(0, 83, 160) !important;
    cursor: pointer;
}
.error-image {
    width: 70%;
    height: 64%;
    color: #26343a;
}

.error-message {
    margin-top: 20px;
    font-size: 25px;
    color: #003d5a;
}

