

.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
}

.box {
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
.a {
    text-decoration: none;
    font-size: 30px;
    color: white;
}